---
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="bg">
      <Button
        variant="primary"
        text1="Best of the day"
        text2="Shots featured"
      />
      <Button
        variant="primary"
        text1="Featured streams"
        text2="Watch livestreams"
      />
      <Button variant="primary" text1="Subscriptions" text2="Premium content" />
      <Button variant="primary" text1="Creative feed" text2="Premium feed" />
    </div>
  </body>
</html>

<style>
  body {
    max-width: 400px;
    background-image: linear-gradient(to right, #f9a8d4, #818cf8);
  }

  .bg {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
  }
</style>
